body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-style {
  cursor: pointer;
  filter: grayscale(80%);
  transition: 1.35s linear;
  background: #446485;
}

.card-style:hover {
  filter: grayscale(0);
}

.container-style {
  grid-template-columns: repeat(4, 1fr);
  gap: 3em;
}

@media (max-width: 50em) {
  .container-style {
    grid-template-columns: repeat(2, 1fr);
  }

  .card-style {
    filter: grayscale(0);
  }
}

@media (max-width: 572px) {
  .container-style {
    grid-template-columns: repeat(1, 1fr);
  }

  .button-style {
    width: 70%;
  }
}
